<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block titulo %}Catálogo de livros{% endblock %}</title>
  <link rel="stylesheet" href="/static/style.css?v=124">
</head>
<body>
  <header class="topo">
    <h1> 📖​Catálogo de Livros 📖​</h1>
    <nav>
      <a href="/livros">🏠​Início</a>
      <a href="/livros/novo">+ Novo livro</a>
    </nav>
  </header>
  <main class="container">
    {% block conteudo %}{% endblock %}   <!-- as outras páginas entram aqui -->
  </main>
</body>
</html>